<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

    <p>
    This project was built by Brian Hussey with the help of the awesome people at <a target="_blank" href="http://www.thefirehoseproject.com/"> The Firehose Project.</a> 
  </p>
  <br />
  <p>
   Heavy Metal musicians are some of the most over-the-top personalities you can imagine, and this app is an attempt to archive some of their most entertaining quotes.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

  <br>

    <div class="col-xs-12 col-sm-4">
    <%= image_tag 'bh_mt.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Brian Hussey</h2>
    <br />
    <p>
     Brian Hussey is a video producer/editor and aspiring web developer. He also is hopelessly obsessed with heavy metal.
    </p>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />

</div>