@font-face {
    font-family: 'bebasregular';
    src: url('/assets/bebas__-webfont.woff2') format('woff2'),
         url('/assets/bebas__-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}